/* .step-card {
    border-radius: 8px;
    border-width: 2px;
  }
  
  .client-badge {
    top: -12px;
    right: 10px;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 10px;
  }
  
  .step-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #e9f5e9;
    border-radius: 8px;
  }
   */
   